version: '3.8'

services:
  backend:
    build: ./server
    container_name: quickai-backend
    env_file:
      - ./server/.env
    ports:
      - "3000:3000"

  frontend:
    build: ./client
    container_name: quickai-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
networks:
  default:
    driver: bridge